
<div class="header">
    <div class="header">
        <div class="tabs">
            <div class="tab"><span class="active-tab"><i class="bx bx-archive"></i></span>Drafts <span class="circle">40</span></div>
            <div class="tab active"><span class="active-tab"><i class="bx bx-bar-chart"></i></span>Active <span class="circle">40</span></div>
            <div class="tab"><span class="active-tab"></span>Inactive <span class="circle">40</span></div>
            <div class="tab"><span class="active-tab"><i class="bx bx-x"></i></span>Deleted <span class="circle">40</span></div>
        </div>
      </div>
  <div class="search">
      <label for="search-bar">Search</label>
      <input type="text" id="search-bar" placeholder="Search...">
  </div>
  <div class="pagination">
      <span>|&lt;</span>
      <span>&lt;</span>
      <a href="#" class="current">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <span>...</span>
      <a href="#">&gt;</a>
      <a href="#">|&gt;</a>
      <span>...</span>
  </div>
</div>