<nav class="top-navbar">
    <div class="nav-left">
      <i class="bx bx-home"></i>
      <span class="nav-title">Admin Dashboard</span>
    </div>
    <div class="nav-center">
      <a href="#" class="nav-icon"><i class="bx bx-user"></i></a>
      <a href="#" class="nav-fonts">Admin</a>
      <a href="#" class="nav-icon"><i class="bx bx-chevron-right"></i></a>
      <a href="#" class="nav-fonts">User</a>
      <a href="#" class="nav-icon"><i class="bx bx-star"></i></a>
      <a href="#" class="nav-icon"><i class="bx bx-notepad"></i></a>
    </div>
    <div class="nav-right">
      <a href="#" class="nav-link">Enhanzer</a>
      <a href="#" class="nav-icon">
        <div class="nav-prof">
          <span class="icon">L</span>
        </div>
      </a>
      <a href="#" class="nav-icon"><i class="bx bx-bell"></i></a>
      <a href="#" class="nav-icon"><i class="bx bx-star"></i></a>
      <a href="#" class="nav-icon"><i class="bx bx-cog"></i></a>
    </div>
  </nav>