<div class="sidebar">
  <ul class="nav-links">
    <li>
      <a href="#" class="active">
        <i class="bx bx-user"></i>
        <span class="links_name">Admin</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="bx bx-box"></i>
        <span class="links_name">Core</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="bx bx-list-ul"></i>
        <span class="links_name">Procurement</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="bx bx-pie-chart-alt-2"></i>
        <span class="links_name">Inventory</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="bx bx-coin-stack"></i>
        <span class="links_name">Manufacture</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="bx bx-cart"></i>
        <span class="links_name">Sales</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="bx bx-grid-alt"></i>
        <span class="links_name">Assets</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="bx bx-globe"></i>
        <span class="links_name">Services</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="bx bx-"></i>
        <span class="links_name">CRM</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="bx bx-bar-chart"></i>
        <span class="links_name">Analytics</span>
      </a>
    </li>
  </ul>
</div>